<div style="text-align: center;">
  <h1>Meet our Stylists!!!</h1>
  <img src="../images/stylist logo.jpg">
</div>

{{#each stylists as |stylist|}}
{{!-- Card container --}}
<div class="profileCard container">
    {{!-- Header Section --}}
    <div class="profileCardHeader row pt-1">
        <h2>{{stylist.name}}</h2>
    </div>
    {{!-- Body Section --}}
    <div class="profileCardBody row">
        <div class="profileCardMain col-sm m-5">
          <div class="stylistidcard">
            <b>Name: </b>{{stylist.name}}<br>
            <b>E-Mail: </b><a href="mailto:{{stylist.email}}">{{stylist.email}}</a><br>
          </div>
        </div>
        <div class="profileCardAside rightward col-sm">
            <img src="/images/employee_photo/{{stylist.employee_id}}.jpg" class="employeeidphoto" alt="Image of {{stylist.name}}" width="200px" height="200px">
        </div>
    </div>
</div>
{{/each}}